<table class="Table__Filter" mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      FOLIO
    </th>
    <td mat-cell *matCellDef="let element">{{element.id}}</td>
  </ng-container>

  <ng-container matColumnDef="selectedDatetime">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      FECHA
    </th>
    <td mat-cell *matCellDef="let element">{{element.selectedDatetime}}</td>
  </ng-container>

  <ng-container matColumnDef="lugar">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>LUGAR</th>
    <td mat-cell *matCellDef="let element">{{element.lugar}}</td>
  </ng-container>

  <ng-container matColumnDef="departamento">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>DEPARTAMENTO</th>
    <td mat-cell *matCellDef="let element">{{element.departamento}}</td>
  </ng-container>

  <ng-container matColumnDef="area">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>AREA</th>
    <td mat-cell *matCellDef="let element">{{element.area}}</td>
  </ng-container>

  <ng-container matColumnDef="workstation">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>WORKSTATIN</th>
    <td mat-cell *matCellDef="let element">{{element.workstation}}</td>
  </ng-container>

  <ng-container matColumnDef="maquina">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>MAQUINA</th>
    <td mat-cell *matCellDef="let element">{{element.maquina}}</td>
  </ng-container>

  <ng-container matColumnDef="noSocio">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>NoSocio</th>
    <td mat-cell *matCellDef="let element">{{element.noSocio}}</td>
  </ng-container>

  <ng-container matColumnDef="nombreObservador">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Observador</th>
    <td mat-cell *matCellDef="let element">{{element.nombreObservador}}</td>
  </ng-container>

  <ng-container matColumnDef="sucedio">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>A quien le sucedio?</th>
    <td mat-cell *matCellDef="let element">{{element.sucedio}}</td>
  </ng-container>

  <ng-container matColumnDef="impacto">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Impacto</th>
    <td mat-cell *matCellDef="let element">{{element.impacto}}</td>
  </ng-container>

  <ng-container matColumnDef="observado">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Observado</th>
    <td mat-cell *matCellDef="let element">{{element.observado}}</td>
  </ng-container>

  <ng-container matColumnDef="tipoComportamiento">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Comportamiento</th>
    <td mat-cell *matCellDef="let element">{{element.tipoComportamiento}}</td>
  </ng-container>

  <ng-container matColumnDef="causa">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>CAUSA</th>
    <td mat-cell *matCellDef="let element">{{element.causa}}</td>
  </ng-container>

  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>DESCRIPCION</th>
    <td mat-cell *matCellDef="let element">{{element.description}}</td>
  </ng-container>


  <!-- Header row first group -->
  <ng-container matColumnDef="hd-folio">
    <th mat-header-cell *matHeaderCellDef>
      <input [ngModel]="globalFilter" (ngModelChange)="applyFilterId($event)" type="number">
    </th>
  </ng-container>

  <!-- Header row second group -->
  <ng-container matColumnDef="hd-fecha">
    <th mat-header-cell *matHeaderCellDef class="fecha">
      <div class="item--data">
        <input matInput [ngModel]="globalFilter" (ngModelChange)="applyFilterDateStart($event)" [matDatepicker]="picker"
          placeholder="Choose a date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker touchUi #picker></mat-datepicker>
      </div>
      <div class="item--data">
        <input matInput [ngModel]="globalFilter" (ngModelChange)="applyFilterDateEnd($event)" [matDatepicker]="picke"
          placeholder="Choose a date" style="text-decoration: none;">
        <mat-datepicker-toggle matSuffix [for]="picke"></mat-datepicker-toggle>
        <mat-datepicker touchUi #picke></mat-datepicker>
      </div>
    </th>
  </ng-container>
  <ng-container matColumnDef="hd-lugar">
    <th mat-header-cell *matHeaderCellDef>
      <input [ngModel]="globalFilter" (ngModelChange)="applyFilterLugar($event)" type="text">
    </th>
  </ng-container>
  <ng-container matColumnDef="hd-departamento">
    <th mat-header-cell *matHeaderCellDef>
      <input [ngModel]="globalFilter" (ngModelChange)="applyFilterDepartamento($event)" type="text">
    </th>
  </ng-container>

  <ng-container matColumnDef="hd-area">
    <th mat-header-cell *matHeaderCellDef>
      <input [ngModel]="globalFilter" (ngModelChange)=" applyFilterArea($event)" type="text">
    </th>
  </ng-container>

  <ng-container matColumnDef="hd-workstation">
    <th mat-header-cell *matHeaderCellDef>
      <input [ngModel]="globalFilter" (ngModelChange)=" applyFilterWorkstation($event)" type="text">
    </th>
  </ng-container>

  <ng-container matColumnDef="hd-maquina">
    <th mat-header-cell *matHeaderCellDef>
      <input [ngModel]="globalFilter" (ngModelChange)=" applyFilterMaquina($event)" type="text">
    </th>
  </ng-container>

  <ng-container matColumnDef="hd-nosocio">
    <th mat-header-cell *matHeaderCellDef>
      <input [ngModel]="globalFilter" (ngModelChange)=" applyFilterNoSocio($event)" type="number">
    </th>
  </ng-container>

  <ng-container matColumnDef="hd-nombre-observador">
    <th mat-header-cell *matHeaderCellDef>
      <input [ngModel]="globalFilter" (ngModelChange)=" applyFilterNombre($event)" type="text">
    </th>
  </ng-container>

  <ng-container matColumnDef="hd-sucedio">
    <th mat-header-cell *matHeaderCellDef>
      <input [ngModel]="globalFilter" (ngModelChange)=" applyFilterSucedio($event)" type="text">
    </th>
  </ng-container>

  <ng-container matColumnDef="hd-impacto">
    <th mat-header-cell *matHeaderCellDef>
      <input [ngModel]="globalFilter" (ngModelChange)=" applyFilterImpacto($event)" type="text">
    </th>
  </ng-container>

  <ng-container matColumnDef="hd-observado">
    <th mat-header-cell *matHeaderCellDef>
      <input [ngModel]="globalFilter" (ngModelChange)=" applyFilterObservado($event)" type="text">
    </th>
  </ng-container>

  <ng-container matColumnDef="hd-comportamiento">
    <th mat-header-cell *matHeaderCellDef>
      <input [ngModel]="globalFilter" (ngModelChange)=" applyFilterComportamiento($event)" type="text">
    </th>
  </ng-container>

  <ng-container matColumnDef="hd-causa">
    <th mat-header-cell *matHeaderCellDef>
      <input [ngModel]="globalFilter" (ngModelChange)=" applyFilterCausa($event)" type="text">
    </th>
  </ng-container>

  <ng-container matColumnDef="hd-descripcion">
    <th mat-header-cell *matHeaderCellDef>
      <input [ngModel]="globalFilter" (ngModelChange)=" applyFilterdescription($event)" type="text">
    </th>
  </ng-container>

  <tr class="Header__Titles" mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
  <tr class="Header__inputs" mat-header-row
    *matHeaderRowDef="['hd-folio', 'hd-fecha','hd-lugar','hd-departamento','hd-area','hd-workstation','hd-maquina','hd-nosocio','hd-nombre-observador','hd-sucedio','hd-impacto','hd-observado','hd-comportamiento','hd-causa','hd-descripcion']">
  </tr>
  <tr class="items" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>
