app-filtro-tarjeta.ng-star-inserted {
	 overflow: auto;
}
.mat-tab-body-content.ng-trigger.ng-trigger-translateTab {
	overflow: auto;
}
.Header__inputs{
	background: #cecece;
	border: none ;
	margin: 0;
}
.Header__inputs input{
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 7px;
	box-sizing: border-box;
	outline: none;
	margin-right: 10px;
}
.fecha{
	display: flex;
}
.item--data{
	display: flex;
	width: 192px;
	margin: 10px 0;
	border-radius: 7px;
		
}
.item--data input{
	height: 40px;
	background: white;
}

.Header__Titles{
	background: #d6d6d6;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
}
.mat-sort-header-container{
	justify-content: center;
}
.items:nth-child(even){background-color: #f2f2f2;}

.items:hover {background-color: #ddd;}
