<mat-card class="reporter-card">

  <div class="container-helper">
    <mat-card style="background-color: #adece6">
        <p style="text-align: center;">Para ver un reporte, selecciona el tipo de Tarjeta Verde, llene los filtros y haga clic en "Generar reporte", Si
          no
          necesita filtrar, seleccione únicamente el año que quieres ver y haz clic en "Generar reporte".</p>
        </mat-card>
  </div>

  <!-- first row -->
  <mat-card-content class="first-row-data">
    <mat-grid-list cols="2" rowHeight="1:0.15">
      <mat-grid-tile colspan="2">
        <div class="no-circle-input">
          <h4 id="select-card-label" class="select-card-label">Seleccione el tipo de Tarjeta Verde:</h4>
          <mat-checkbox style="margin-right: 30px" [(ngModel)]="checked-bbe">
            BBE
          </mat-checkbox>
          <mat-checkbox [(ngModel)]="checked-nm">
            Near Miss
          </mat-checkbox>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field>
          <h4 class="no-circle-text-label">Fecha Inicial</h4>
          <input matInput [matDatepicker]="picker1" [(ngModel)]="startSelected" disabled>
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1 startView="year" touchUi disabled="false">
          </mat-datepicker>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field>
          <h4 class="no-circle-text-label">Fecha Final</h4>
          <input matInput [matDatepicker]="picker2" [(ngModel)]="endSelected" disabled>
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2 startView="year" touchUi disabled="false">
          </mat-datepicker>
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>
    <!-- third row -->
    <mat-grid-list cols="1" rowHeight="1:0.30">
      <mat-grid-tile>
        <div class="circle-input">
          <span class="circle-1 circle-form">1</span>
          <mat-form-field>
            <h4 class="circle-text-label">Lugar</h4>
            <mat-select (selectionChange)="onPlaceSelected($event)" [(ngModel)]="placeSelected" panelClass="short-panel">
              <mat-option *ngFor="let maintenanceType of maintenanceTypes" [value]="maintenanceType.id">
                {{maintenanceType.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="circle-input">
          <span class="circle-2 circle-form">2</span>
          <mat-form-field>
            <h4 class="circle-text-label">Departamento</h4>
            <mat-select (selectionChange)="onDepartmentSelected($event)" [(ngModel)]="departmentSelected"
              panelClass="short-panel">
              <mat-option *ngFor="let department of departments"
                [value]="{'departmentId':department.id,'caseName':department.caseName}">
                {{department.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="circle-input">
          <span class="circle-2-1 circle-form">3</span>
          <mat-form-field *ngIf="selectedCaseName == 'CASE 1'">
            <h4 class="circle-text-label">Área</h4>
            <mat-select (selectionChange)="onAreaSelected($event)" panelClass="short-panel" [(ngModel)]="areaSelected">
              <mat-option *ngFor="let area of areas" [value]="{'areaId':area.id,'caseName':area.caseName}">
                {{area.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field *ngIf="selectedCaseName == 'CASE 2'">
            <h4 class="circle-text-label">Workstation</h4>
            <mat-select (selectionChange)="onWorkstationSelected($event)" panelClass="short-panel"
              [(ngModel)]="workstationSelected">
              <mat-option *ngFor="let workstation of workstations"
                [value]="{'workstationId':workstation.id,'caseName':workstation.caseName}">
                {{workstation.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="circle-input">
          <span class="circle-form circle-2-2">4</span>
          <mat-form-field *ngIf="selectedCaseName == 'CASE 1'">
            <h4 class="circle-text-label">Workstation</h4>
            <mat-select (selectionChange)="onWorkstationSelected($event)" panelClass="short-panel"
              [(ngModel)]="workstationSelected">
              <mat-option *ngFor="let workstation of workstations"
                [value]="{'workstationId':workstation.id,'caseName':workstation.caseName}">
                {{workstation.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field *ngIf="selectedCaseName == 'CASE 2'">
            <h4 class="circle-text-label">Área</h4>
            <mat-select (selectionChange)="onAreaSelected($event)" panelClass="short-panel" [(ngModel)]="areaSelected">
              <mat-option *ngFor="let area of areas" [value]="{'areaId':area.id,'caseName':area.caseName}">
                {{area.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list cols="1" rowHeight="1:0.07">
      <mat-grid-tile>
        <div class="example-button-row">
          <button (click)="exportAsXLSX()" mat-flat-button class="btnreporte" [disabled]="(startSelected != '' && endSelected != '') ? false : true">
            <img src="../../../assets/imagenes/excel.png" alt="">
            Generar reporte
          </button>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
  <!-- first row -->
</mat-card>
